
body, html {
  margin: 0px;
  padding-left: 0px;
  background-color: rgb(208, 229, 248);

}

.home {
    background-color: rgb(208, 229, 248);
    width: 1050px;
    display: flex;
    margin: 10px;
    margin-left: 100px;


    
  }

/* 
@media screen and (max-aspect-ratio:  9/15) {


 @media (max-width: 768px) { 


    .container{

      width:90%;
      height: 95%;
    }
  
} */



