:root {
  --bl: black;
  --cx: #040436;
  --c0: #0f2558;
  --c1: #14788a;
  --c2: #88b6d4;
  --c3: #c6dabf;
  --c4: #f3e9d2;
  --wt: white;
  --lgr: darkgray;
  --dgr: rgb(140, 139, 139);
  --tim: black;
  --fnt: sans-serif;
}

:root t{
  --bl: rgb(135, 107, 107);
  --cx: #5d8976;
  --c0: #1a1a1a;
  --c1: #000000;
  --c2: #000000;
  --c3: #3c343c;
  --c4: #839285;
  --wt: rgb(158, 207, 189);
  --lgr: darkgray;
  --dgr: rgb(140, 139, 139);
  --tim: rgb(157, 150, 150);
  --fnt: sans-serif;
}

.formContainer {
    background-color: var(--c0);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon{
    display:flex;
    align-items: center;
    position: relative;
    animation: logoAnimation 2s infinite;
    filter: drop-shadow(0px 0px 20px var(--c2));
}


@keyframes logoAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the distance you want it to move vertically */
  }
}

.formWrapper {
    background-color: var(--c3);
    padding: 25px 60px;
    border-radius: 25px;
    gap: 100px;
    display: flex;
    align-items: center;
    }

.boddy{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

.formWrapper img{
  height: fit-content;
  object-fit: cover;
  
}

.title {
      font-family: sans-serif;
      color: var(--c0);
      font-size: 15px;
      font-weight: bolder;
    }

.logo {
    font-family: sans-serif;
    color: var(--c0);
    font-weight: bold;
    font-size: 32px;

  }

  .formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .formWrapper input {

    padding: 15px;
    border: 1px solid var(--c4);
    width: 250px;
    border-radius: 25px;
    outline-color: var(--c0);
    transition: transform 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);

    &::placeholder {
      color: var(--lgr);
      font: var(--fnt)
    }
  }

  .formWrapper input:hover {
    transform: scale(1.1);
  }


  .formContainer label {
    display: flex;
    align-items: center;
    color: var(--lgr);
    font-size: 12px;
    font-family:var(--fnt);
    cursor: pointer;

  }
  .formContainer img {
    width: 25px;
    padding-right: 10px;

  }

  .formWrapper button {
    background-color: var(--c0);
    color: var(--c4);
    padding: 10px 30px;
    width:fit-content;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: transform 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .formWrapper button:hover {
    transform: scale(1.1);
  }

.formWrapper p {
    color: var(--dgr);
    font-size: 12px;
    font-family:var(--fnt)
  }

  .errorMessage{
    color: rgb(232, 69, 69);
    font-family: var(--fnt);
  }

  .successMessage{
    color: rgb(38, 200, 10);
    font-family: var(--fnt);
  }



/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media (max-width: 768px) {
 
.formWrapper {
    padding: 50px;
    gap:10px;
    flex-direction: column;
  }
}
 
  