:root {
  --bl: black;
  --cx: #040436;
  --c0: #0a2243;
  --c1: #2a3eb3;
  --c2: #88b6d4;
  --c3: #bfd6da;
  --c4: #f3e9d2;
  --wt: white;
  --lgr: darkgray;
  --dgr: rgb(140, 139, 139);
  --tim: black;
  --fnt: sans-serif;
}

.formContainer {
    background-color: var(--c0);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon{
    display:flex;
    align-items: center;
    position: relative;
    animation: logoAnimation 0.2s ease-in;
    filter: drop-shadow(0px 0px 20px var(--c2));
}


@keyframes logoAnimation {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px); /* Adjust the distance you want it to move vertically */
  }
}

.formWrapper {
    background-color: var(--c3);
    padding: 25px 60px;
    border-radius: 5px;
    gap: 100px;
    display: flex;
    align-items: center;
    }

.boddy{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

.formWrapper img{
  height: fit-content;
  object-fit: cover;
  
}

.title {
      font-family: sans-serif;
      color: var(--c0);
      font-size: 15px;
      font-weight: bolder;
    }

.logo {
    font-family: sans-serif;
    color: var(--c0);
    font-weight: bold;
    font-size: 32px;

  }

  .formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
  }

  .formContainer img {
    width: 200px;
    padding-right: 10px;

  }

  .formWrapper button {
    background-color: var(--c0);
    color: var(--c4);
    padding: 10px 30px;
    width:fit-content;
    font-weight: bold;
    border: none;
    cursor: pointer;
    
    transition: transform 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .formWrapper button:hover {
    transform: scale(1.1);
  }

.formWrapper p {
    color: var(--dgr);
    font-size: 12px;
    font-family:var(--fnt)
  }

  .errorMessage{
    color: rgb(232, 69, 69);
    font-family: var(--fnt);
  }

  .successMessage{
    color: rgb(38, 200, 10);
    font-family: var(--fnt);
  }



/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media (max-width: 768px) {
 
.formWrapper {
    padding: 50px;
    gap:10px;
    flex-direction: column;
    
  }
}
 
.formContainer{
  input,
  span,
  label {
    
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
  }
  
  input:focus {
    outline: 0;

  }

  
  input.question{
    font-size: 18px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; 
  }
 
  
  input.question + label{
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    top:-10px;
    border-top: 1px solid red;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
  }
  
  input.question:focus + label{
    width: 80%;
  }
  
  input.question:focus,
  input.question:valid {
    padding-top: 10px;
    
  }
  
  input.question:focus + label > span,
  input.question:valid + label > span{
    top: -50px;
    font-size: 14px;
    color: #333;
  }
  
  input.question:valid + label{
    border-color: green;
    top: -10px
  }
  
  input.question:invalid{
    box-shadow: none;
  }
  
  input.question + label > span{
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 18px;
    top: -28px;
    left: 0px;

    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }
  
  
  @-webkit-keyframes appear {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes appear {
    100% {
      opacity: 1;
    }
  }
  
}